/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #222;
	font-size:22px;
	line-height: 32px;
	color: #fff;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
}	

#container {
	margin: 0 auto;
}

nav {
	margin: 50px 0;
	background-color: #666;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #666;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:250px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:250px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

caution, warning, note {
	padding:1em;
	border-style:solid;
	border-radius:0.3em;
	border-width:0.5em;
	display:block;
	color:#000000;
	text-align:center;
}

blockquote {
	border-left-style:solid;
	border-left-width:0.3em;
	border-left-color:#666;
	padding-left:0.5em;
}

note {
	border-color:#44d;
	background-color:#66f;
}

warning {
	border-color:#d44;
	background-color:#f66;
}

caution {
	border-color:#dd4;
	background-color:#ff6;
}